<div class="text_fields">
    <div class="row">
        <div class="input-field col s12">
            <%= f.label :description, 'Descripción' %>
            <%= f.text_field :description, class: :text_field %>
        </div>
    </div>
</div>
