<div class="question_fields">
    <div class="row">
        <div class="input-field col s12">
            <%= f.label :title, 'Descripción' %>
            <%= f.text_field :title, class: :text_field %>
        </div>
    </div>
</div>
