<%= form_for([@paper, @paper.comments.build]) do |form| %>
    <div class="field">
        <%= form.label :commentary %>
        <%= form.text_field :commentary %>
    </div>

    <%= form.submit %>
<% end %>