<h3 class="align center">Usuarios</h3>
<table>
    <thead class="header-row">
        <tr>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
            </tr>
        <% end %>
    </tbody>
</table>