<td>
    <%= link_to rails_blob_path(paper.pdf_file, disposition: "inline"), 
        class: "waves-effect btn-floating btn-small grey", target: "_blank" do %>
        <i class="material-icons">visibility</i>
    <%end%>
</td>
<td>
    <%= link_to event_paper_comments_path(@event, paper), class: "waves-effect btn-floating btn-small grey" do %>
        <i class="material-icons">search</i>
    <% end %>
</td>
<td>
    <%= link_to new_event_paper_review_path(@event, paper), class: "waves-effect btn-floating btn-small grey" do %>
        <i class="material-icons">add_box</i>
    <% end %>
</td>