<td>
    <%= link_to rails_blob_path(paper.pdf_file, disposition: "inline"), 
        class: "waves-effect btn-floating btn-small grey", target: "_blank" do %>
        <i class="material-icons">visibility</i>
    <%end%>
</td>