<h5>Presentación</h5>
<div class="row flex">
    <div class="col s2 fr"><strong>Presentación:</strong></div>
    <div class="col s10 fr"><%= paper.title %></div>
    <div class="col s2 sr"><strong>Archivos:</strong></div>
    <div class="col s10 sr">
        <%= link_to rails_blob_path(paper.pdf_file, disposition: "inline"), 
        class: "btn-flat pdf-sm", target: "_blank" do %>
         <i class="material-icons">picture_as_pdf</i>
       <%end%>
    </div>
    <div class="col s2 fr"><strong>Decisión actual:</strong></div>
    <div class="col s10 fr"><%= paper.status %></div>
</div>