<%= @survey.name %>

<ol class="questions">
    <% @survey.questions.each do |question| %>
        <li>
            <%= question.title %>
            <ol>
                <% question.answers.each do |answer| %>
                    <% case question.answer_type %>
                    <% when "Escala" %>
                        <label>
                            <input name="group1" class="with-gap" type="radio"/>
                            <span><%= answer.answer_content %></span><br>
                        </label>
                    <% when "Texto" %>
                        <div class="input-field col s12">
                            <textarea id="a_text" class="materialize-textarea">
                                <%= answer.answer_content %>
                            </textarea>
                        </div>
                    <% end %>
                <% end %>
            </ol>
        </li>
    <% end %>
</ol>