<h1>Asignación de tribunal</h1>

<p>
  Se le asignó como miembro del tribunal del siguiente documento,
  de la UCB-SP-CB.
</p>
<p>
  <strong>Tema: </strong> <%= @paper.title %> <br>
  <strong>Estudiante: </strong> <%= @paper.user.name %> <%= @paper.user.lastname %>
</p>
