/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */

 @import "materialize";
 @import "materialize/extras/nouislider";

 .c-form { background-color: #e4e1d3; }
 .card-content span { color: grey; }
 .divider { background-color: grey; }

[type="radio"]:checked + span:after, 
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #1976d2;
}

[type="radio"]:checked + span:after, 
[type="radio"].with-gap:checked + span:after {
  background-color: #1976d2;
}

th.vertical div {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: -10em;
  margin-right: -10em;
}

th.vertical {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 3em;
}

table { border-collapse: collapse; }
tr { border: none; }
th, td {
  border-right: solid 1px rgb(196, 191, 191); 
  border-left: solid 1px rgb(196, 191, 191);
}

thead tr.summary-header { 
  background-color: rgb(233, 231, 231); 
  height: 250px;
}
tbody tr.reviews { background-color: #E3EDE4; }
tbody tr.reviews:nth-child(odd) { background-color: #EBF7EB !important; }
tbody tr.comments { background-color: #F5F8C1; }
tbody tr.comments:nth-child(odd) { background-color: #F7FCDE !important;}

tr.reviews td, tr.comments { line-height: 6px;}
