// Place all the styles related to the Papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link-to-text { color: black; }
.title-row { width: 80%; }
.header-row { background: rgb(235, 233, 233);  }
tr { border: 0!important; }