<div class="fields">
    <div class="row">
        <div class="input-field">
            <%= f.label :answer_content, "Respuesta" %>
            <%= f.text_field :answer_content, type: "text", class: "validate" %>
            <%= f.hidden_field :_destroy %>
            <%= link_to "Quitar", '#', class: "remove_fields" %>
        </div>
    </div>
</div>