<nav class="blue darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <%= link_to destroy_user_session_path, method: :delete, class: 'right' do %>
                Salir
                <i class="material-icons right">directions_run</i>
            <% end %>
            <!--a href="/" class="brand-logo right">Logo</a-->
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Documentos</a></li>
                <li><a href="/surveys">Revision</a></li>
            </ul>
        </div>
    </div>
  </nav>
  <br>