<nav class="blue darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Documentos</a></li>
                <li><a href="/reviews">Revision</a></li>
            </ul>
        </div>
    </div>
  </nav>
  <br>